{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Algolia Sync plugin for Craft CMS 3.x
 *
 * Algolia Sync Settings.twig
 *
 * @author    Brilliance Northwest LLC
 * @copyright Copyright (c) 2018 Mark Middleton
 * @link      https://www.brilliancenw.com/
 * @package   AlgoliaSync
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("brilliance\\algoliasync\\assetbundles\\algoliasync\\AlgoliaSyncAsset") %}

<h1>What Element Types to Sync with Algolia?</h1>

{% for supportedElementType in supportedElementsConfig %}
    <h1>{{ supportedElementType.label }}</h1>
    {% if supportedElementType.data | length > 0 %}
        <p>Which {{ supportedElementType.label }} to automatically sync with Algolia?</p>
        <table class="data fullwidth fixed-layout" dir="ltr">
            <tbody>
            <tr>
                <th>Include in Sync?</th>
                <th>Default Algolia Index Name</th>
                <th>Override Default Algolia Index Name</th>
            </tr>
            {% for data in supportedElementType.data %}
                <tr>
                    <th class="light">
                        {{ forms.lightswitchField({
                            label: data.label,
                            name: "algoliaElements["~supportedElementType.handle~"]["~data.value~"][sync]",
                            on: settings.algoliaElements[supportedElementType.handle][data.value]['sync'] ?? false,
                        }) }}
                    </th>
                    <td><pre>{{ data.default_index | default('no default available') }}</pre></td>
                    <td class="light">
                        {{ forms.autosuggestField({
                            name: "algoliaElements["~supportedElementType.handle~"]["~data.value~"][customIndex]",
                            value: settings.algoliaElements[supportedElementType.handle][data.value]['customIndex'] ?? '',
                            suggestEnvVars: true
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% set editionName = craft.app.getEditionName() | lower %}
        {% if supportedElementType.handle == 'userGroup' and editionName == 'solo' %}
            <p>Your Craft CMS edition is "Solo" and does not support User Groups</p>
        {% else %}
            <p>Your installation does not have any {{ supportedElementType.label }} that can be configured to Sync with Algolia</p>
        {% endif %}
    {% endif %}
{% endfor %}


<hr>
<h1>Bulk Load of Records</h1>
<a href="{{ cpUrl('utilities/algolia-sync-utility') }}">Visit the Utilities Page to Bulk Load Records</a>

{{ forms.autosuggestField({
    label: 'Algolia Application ID',
    id: 'algoliaApp',
    name: 'algoliaApp',
    value: settings['algoliaApp'],
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: 'Algolia Search-Only API Key',
    id: 'algoliaSearch',
    name: 'algoliaSearch',
    value: settings['algoliaSearch'],
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: 'Algolia Admin API Key',
    id: 'algoliaAdmin',
    name: 'algoliaAdmin',
    value: settings['algoliaAdmin'],
    suggestEnvVars: true
}) }}


