{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Algolia Sync plugin for Craft CMS 3.x
 *
 * Algolia Sync Settings.twig
 *
 * @author    Brilliance Northwest LLC
 * @copyright Copyright (c) 2018 Mark Middleton
 * @link      https://www.brilliancenw.com/
 * @package   AlgoliaSync
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("brilliance\\algoliasync\\assetbundles\\algoliasync\\AlgoliaSyncAsset") %}

<h4>Sections</h4>
{% if sectionsConfig | length > 0 %}
<p>Which Sections to automatically sync with Algolia?</p>
    {% for section in sectionsConfig %}
        {{ forms.checkboxField({
            name:       'algoliaSections['~section.value~']',
            value:      section.value,
            label:      section.label,
            checked:    section.value in settings.algoliaSections,
            disabled:   false
        }) }}
    {% endfor %}
{% else %}
    <p>Your installation does not have any sections that can be configured to Sync</p>
{% endif %}

<h4>Categories</h4>
{% if categoriesConfig | length > 0 %}
<p>Which Category Sets to automatically sync with Algolia?</p>
    {% for category in categoriesConfig %}
        {{ forms.checkboxField({
            name:       'algoliaCategories['~category.value~']',
            value:      category.value,
            label:      category.label,
            checked:    category.value in settings.algoliaCategories,
            disabled:   false
        }) }}
    {% endfor %}
{% else %}
    <p>Your installation does not have any Category Groups that can be configured to Sync</p>
{% endif %}

{% set editionName = craft.app.getEditionName() | lower %}

<h4>User Groups</h4>
{% if usersConfig | length > 0 %}
<p>Which User Groups to sync to Algolia</p>
    {% for userGroup in usersConfig %}
        {{ forms.checkboxField({
            name:       'algoliaUserGroupList['~userGroup.value~']',
            value:      userGroup.value,
            label:      userGroup.label,
            checked:    userGroup.value in settings.algoliaUserGroupList,
            disabled:   false
        }) }}
    {% endfor %}
{% elseif editionName == 'solo' %}
    <p>Your Craft CMS edition is "Solo" and does not support User Groups</p>
{% else %}
    <p>Your installation does not have any User Groups that can be configured to Sync</p>
{% endif %}
<br>

<a href="{{ cpUrl('utilities/algolia-sync-utility') }}">Visit the Utilities Page to Bulk Load Records</a>

{{ forms.autosuggestField({
    label: 'Algolia Application ID',
    id: 'algoliaApp',
    name: 'algoliaApp',
    value: settings['algoliaApp'],
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: 'Algolia Search-Only API Key',
    id: 'algoliaSearch',
    name: 'algoliaSearch',
    value: settings['algoliaSearch'],
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: 'Algolia Admin API Key',
    id: 'algoliaAdmin',
    name: 'algoliaAdmin',
    value: settings['algoliaAdmin'],
    suggestEnvVars: true
}) }}

<hr>

{{ forms.autosuggestField({
    label: 'Algolia Stop Word',
    id: 'algoliaStopWord',
    name: 'algoliaStopWord',
    value: settings['algoliaStopWord'],
    suggestEnvVars: true
}) }}

